# Ignore everything by default:
/*
/*/

# But allow these files and folders:
!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github
!/.vscode
!/package.json
!/docker-compose.*.yml
!/docker
!/test

# But make sure to ignore these regardless:
*.lnk
*.url
